<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic | Vets</title>
</head>
<body>
    <h1 th:text="'Vets Index'">Vets Index</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">vet Id</td>
                <td th:text="${vet.firstName}">vet first name</td>
                <td th:text="${vet.lastName}">vet last name</td>

            </tr>
        </tbody>
    </table>
</body>
</html>